.project-card{
    height: 8rem;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 10px rgba(207, 207, 207, 0.4);
    padding: 1rem; /* Adjust padding if needed */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card1{
    height: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
}
.project-card2{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
}
.project-card2>button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    padding: .5rem;
    background-color: #151515;
    border-radius: 5px;
    font-weight: bold;
}